@import 'partials/functions';
@import 'partials/screen';


.container {
  width: 70%;
  position: relative;
  overflow: hidden;
}
h5.display-4 {
  text-align: center;
  font-size: rem(45px);
  margin: rem(15px);
}

.btn-info {
  margin:  rem(9px);
}